.background-switch {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background: green;
}
@media screen and (min-width:800px) and (max-width:1200px) {
    .background-switch {
        background: blue;
    }
}
@media screen and (min-width:1200px) {
    .background-switch {
        background: red;
    }
}