.thumbnail {
    box-sizing: border-box;
    border: 0.5em solid #b80000;
    background: #e90000;
    line-height: 0em;
    float: left;
    width: 33%;
    margin: 0 0.5% 0.5% 0;
}
.thumbnail:nth-child(3n) {
    margin-right: 0;
}
.thumbnail img {
    max-width:100%;
}

@media screen and (min-width:800px) and (max-width:1200px) {
    .thumbnail {
        width:24.75%;
        margin:0 0.333% 0.333% 0;
    }
    .thumbnail:nth-child(3n) {
        margin-right: 0.333%;
    }
    .thumbnail:nth-child(4n) {
        margin-right: 0;
    }
}


@media screen and (min-width:1200px) {
    .thumbnail {
        width:16%;
        margin:0 0.8% 0.8% 0;
    }
    .thumbnail:nth-child(3n) {
        margin-right: 0.8%;
    }
    .thumbnail:nth-child(6n) {
        margin-right: 0;
    }
}